@model IEnumerable<CmsShop.Models.ViewModels.Cart.CartVM>

@{
    /**/

    ViewBag.Title = "Koszyk szczegóły";
    int count = 1;
}

<h2 class="hiding">Koszyk szczegóły</h2>

@if (ViewBag.Message != null)
{
    <h3>@ViewBag.Message</h3>
}
else
{
    <div class="data-shipping" style="display: none">
        <p> Czy chcesz zmodifykować dane do wysyłki?</p>
        <a href="/account/user-profile" class="btn btn-primary"> Tak</a>
        <a href="#" class="placeorder btn btn-primary"> Nie </a>
    </div>
    <div class="paypal" style="display: none">
        <p> Zrealizuj płatność za pomocą: </p>
    </div>
    <a href="#" id="paypal-button-container"> </a>
    <table class="table">
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Ilość
            </th>
            <th>
                Cena
            </th>
            <th>
                Zdjęcie
            </th>
            <th>
                Zmień ilość
            </th>
            <th>
                Wartość
            </th>
            <th>

            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td class="qty@(item.ProductId)">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) zł.
                </td>
                <td>
                    <img src="/Images/Uploads/Products/@item.ProductId/Thumbs/@item.Image" />
                </td>
                <td>
                    <a href="#" class="incrproduct" data-id="@item.ProductId">+</a>
                    <a href="#" class="decrproduct" data-id="@item.ProductId">-</a>
                    <a href="#" class="removeproduct" data-id="@item.ProductId">Usuń</a>
                </td>
                <td class="total@(item.ProductId)">
                    @Html.DisplayFor(modelItem => item.Total) zł.
                </td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="grandtotal"><b>Razem: </b><span>@ViewBag.GrandTotal</span>zł.</td>
        </tr>

    </table>

    <br />
    if (Request.IsAuthenticated)
    {
        <a href="#" class="pay btn btn-primary pull-right">Zapłać</a>
    }
    else
    {
        <p> Zaloguj się, aby zrealizować zamówienie</p>
    }




}


@section scripts {
    <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=PLN"></script>

    <script>

        $(function () {

            // zwiekszenie ilosci produktu w koszyku
            $("a.incrproduct").click(function (e) {
                e.preventDefault();
                var productId = $(this).data("id");
                var url = "/cart/IncrementProduct";

                $.getJSON(url, { productId: productId }, function (data) {

                    $("td.qty" + productId).html(data.qty);

                    var price = data.qty * data.price;
                    var priceHtml = price.toFixed(2) + " zł.";

                    $("td.total" + productId).html(priceHtml);

                    var gt = parseFloat($("td.grandtotal span").text());
                    var grandtotal = (gt + data.price).toFixed(2);

                    $("td.grandtotal span").text(grandtotal);

                }).done(function (data) {
                    var url2 = "/cart/PaypalPartial";

                    $.get(url, {}, function (data) {

                        $('div.paypaldiv').html(data);

                    });
                });
            });


            // zmniejszenie ilosci produktu w koszyku
            $("a.decrproduct").click(function (e) {
                e.preventDefault();
                var $this = $(this);
                var productId = $(this).data("id");
                var url = "/cart/DecrementProduct";

                $.getJSON(url, { productId: productId }, function (data) {

                    if (data.qty == 0) {
                        $this.parent().parent().fadeOut("fast", function () {
                            location.reload();
                        })

                    } else {

                        $("td.qty" + productId).html(data.qty);

                        var price = data.qty * data.price;
                        var priceHtml = price.toFixed(2) + " zł.";

                        $("td.total" + productId).html(priceHtml);

                        var gt = parseFloat($("td.grandtotal span").text());
                        var grandtotal = (gt - data.price).toFixed(2);

                        $("td.grandtotal span").text(grandtotal);
                    }

                }).done(function (data) {
                    var url2 = "/cart/PaypalPartial";

                    $.get(url, {}, function (data) {

                        $('div.paypaldiv').html(data);

                    });
                });
            });

            // usuwanie produktu z koszyka
            $("a.removeproduct").click(function (e) {
                e.preventDefault();
                var $this = $(this);
                var productId = $(this).data("id");
                var url = "/cart/RemoveProduct";

                $.get(url, { productId: productId }, function (data) {

                    location.reload();

                });
            });



            // składanie zamówienia
            $("a.pay").click(function (e) {
                e.preventDefault();
                var $this = $(this);

                $(".table").hide();
                $(".pay").hide();
                $(".hiding").hide();
                $(".data-shipping").show();

                $("a.placeorder").click(function (e) {
                    e.preventDefault();
                    var url = "/cart/PlaceOrder";

                    $.post(url, {}, function () {

                        $(".data-shipping").hide();
                        $(".paypal").show();
                        paypal.Buttons().render('#paypal-button-container');
                    });

                });

                // Render the PayPal button into #paypal-button-container
                /*  paypal.Buttons({

                      // Set up the transaction



                  .render('#paypal-button-container');*/

            });
        });
    </script>

}
