<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title — Sklep zoologiczny</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='http://fonts.googleapis.com/css?family=Comfortaa&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="logo">
        <a href="/" class="navbar-brand"><img src="~/Images/logo.png" /><h1>WhaleSpot</h1></a>
    </div>
    <div class="pull-right">

        @if (ViewBag.Title == "Profil użytkownika")
        {
            <div class="col-xs-12" col-md-2>
                <div class="col-xs-12" col-md-2>
                    <a href="/account/orders"> Moje zamówienia</a>
                </div>
            </div>
        }
        @if (ViewBag.Title == "Zamówienia")
        {
            <div class="col-xs-12" col-md-2>
                <div class="col-xs-12" col-md-2>
                    <a href="/account/user-profile">Mój profil</a>
                </div>
            </div>
        }

        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <ul class="navbar-collapse">
                @Html.ActionLink("Dashboard", "Index", "Dashboard", new { area = "Admin" }, null)
            </ul>
        }
        else
        {
            if (ViewBag.Title != "Koszyk szczegóły")
            {
                @Html.Action("CartPartial", "Cart")
            }
        }
        <ul>
            @if (Request.IsAuthenticated)
            {
                <a href="/account/logout">Wyloguj</a>
            }
            else
            {
                if (ViewBag.Title == "Zaloguj")
                {
                    <a href="/account/login">Zaloguj</a>
                }
                else
                {
                    <a href="/account/login">Zaloguj</a>
                }
            }
            @if (Request.IsAuthenticated && User.IsInRole("User"))
            {
                if (ViewBag.Title == "Profil użytkownika")
                {
                    <li class="active"> @Html.Action("UserNavPartial", "Account", new { area = "" })</li>
                }
                else
                {
                    <li> @Html.Action("UserNavPartial", "Account", new { area = "" })</li>
                }

            }
        </ul>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-topcancel">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <div class="nav navbar-nav">
                    @Html.Action("CategoryMenuPartial", "Shop")

                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">

        <div class="row">


            @if (ViewBag.Sidebar == "Tak")
            {
                <div class="col-xs-12 col-md-7">
                    @RenderBody()
                </div>
                <div class="col-xs-12 col-md-3">
                    @Html.Action("SidebarPartial", "Pages")
                </div>
            }
            else
            {
                <div class="col-xs-12 col-md-10">
                    @RenderBody()
                </div>
            }

        </div>
        <hr />
        <footer>
            <div class="user">
                <ul class="nav navbar-nav">
                    @Html.Action("PagesMenuPartial", "Pages")
                   
                </ul>
               
            </div>
            <p>&copy; @DateTime.Now.Year — Zoologiczny sklep internetowy</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
