<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title — Sklep zoologiczny</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='http://fonts.googleapis.com/css?family=Comfortaa&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="logo">
        <a href="/" class="navbar-brand"><img src="~/Images/logo.png" /><h1>WhaleSpot</h1></a>
    </div>
    <div class="pull-right">

        @if (ViewBag.Title == "Profil użytkownika")
        {
            
                    <a href="/account/orders" class="orders"> Moje zamówienia</a>
               
        }
        @if (ViewBag.Title == "Zamówienia")
        {
            
                    <a href="/account/user-profile">Mój profil</a>
               
        }

        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <ul class="navbar-collapse dashboard-btn">
                @Html.ActionLink("Dashboard", "Index", "Dashboard", new { area = "Admin" }, new { @class = "dashboardBtn" })
            </ul>
        }
        else
        {
            if (ViewBag.Title != "Koszyk szczegóły")
            {
                @Html.Action("CartPartial", "Cart")
            }
        }
        <div class="user">
            @if (Request.IsAuthenticated)
            {
                <a href="/account/logout" class="nav-href">Wyloguj</a>
            }
            else
            {
                if (ViewBag.Title == "Zaloguj")
                {
                    <img src="/Images/user-circle-solid.svg" class="userimg" />
                    <br />
                    <a href="/account/login" class="nav-href">Zaloguj</a>
                }
                else
                {
                    <img src="/Images/user-circle-solid.svg" class="userimg" />
                    <br />
                    <a href="/account/login" class="nav-href">Zaloguj</a>
                }
            }
            @if (Request.IsAuthenticated && User.IsInRole("User"))
            {
                if (ViewBag.Title == "Profil użytkownika")
                {
                    <li class="active"> @Html.Action("UserNavPartial", "Account", new { area = "" })</li>
                }
                else
                {
                    <li> @Html.Action("UserNavPartial", "Account", new { area = "" })</li>
                }

            }
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-topcancel">
        <div class="container">
            <div class="navbar-header">
                <div class="logoMobile">
                    <a href="/" class="navbar-brand"><img src="~/Images/logo.png" /><h1>WhaleSpot</h1></a>

                    <button type="button" class="navbar-toggle navbarMobile" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <div class="nav navbar-nav menu-nav">
                    @Html.Action("CategoryMenuPartial", "Shop")

                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">

        <div class="row">


            @if (ViewBag.Sidebar == "Tak")
            {
                <div>
                    @RenderBody()
                </div>
                <div class="col-xs-12 col-md-3">
                    @Html.Action("SidebarPartial", "Pages")
                </div>
            }
            else
            {
                <div>
                    @RenderBody()
                </div>
            }

        </div>

        <footer>
            <div class="user">
                <ul class=" nav navbar-nav footer-nav">
                    @Html.Action("PagesMenuPartial", "Pages")

                </ul>

            </div>
            <p class="copyright">&copy; WhaleSpot @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
